@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    height: 100%;
    color: #000000;
    text-decoration: none;
}
body {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
}
a {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 10px;
}
.wrapper {
    display: flex;
    min-height: 100%;
}
.sidebar {
    width: 300px;
    padding-bottom: 30px;
}
.sidebar header {
    position: relative;
    height: 50px;
    padding: 7px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background: #333333;
}
.sidebar header .logo-wrapper {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    border: 1px solid #fff;
}
.sidebar header .headerStoreName{
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
}
.sidebar ul span {
    display: block;
    padding: 15px;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
}
.sidebar ul a {
    position: relative;
    display: block;
    padding: 15px 15px 17px 10px;
    color: #777;
    border-bottom: 1px solid #333333;
}
.sidebar ul a:hover,
.sidebar ul a.active {
    background: #535353;
    color: #ffffff;
}
.sidebar ul a i{
    margin-right: 5px;
}
main {
    flex: 1;
    padding: 25px;
    background: #f5f5f5;
}
main .top-nav {
    height: 50px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    color: #2473bf;
    background: #ddd;
    border-bottom: 2px solid #2473bf;
}
.top-nav .dropdown{
    margin-top: 5px;
}
.top-nav .dropdown button:focus{
    box-shadow: none;
}
.bottom-footer {
    width: 100%;
    height: 30px;
    background: #ddd;
    position: fixed;
    bottom: 0px;
    background: #333333;
    z-index: 1001;
}
main .top-nav h1 {
    line-height: 50px;
    font-size: 24px;
    font-weight: 400;
}
.flex-grid {
    display: flex;
}
.flex-grid > div {
    flex: 1;
    margin: 0 20px 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
}
.flex-grid > div:last-child {
    margin-right: 0;
}
.flex-grid h2 {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}
.flex-grid li {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 25px;
}
.flex-grid li:before {
    top: 0;
    left: 0;
    color: #999;
}
/* Custom */
.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

label {
    margin-bottom: 0.5rem;
}
.hidden{
    display: none;
}
.navbar-closed{
    display: none;
}
.border-light-blue{
    border-color: #2473bf;
}
.cke{
    border-color: #2473bf !important;
}
input, select, textarea{
    border-radius: 0px !important;
}
.jstree-anchor:hover{
    background: #2473bf !important;
    color: #ffffff !important;
}
/* ENd Custom */
/* Tables */
.table-header-light-blue {
    --bs-table-bg: #2473bf;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}
/* End Tables */
/* Page Models */
.saveModel{
    position: fixed;
    bottom: 40px;
    right: 26px;
}
.searchInputs{
    margin-bottom: 10px;
}
.pagination-wrapper nav{
    width: 100% !important;
    padding-bottom: 0px !important;
}
.page-link {
    color: #2473bf;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2473bf;
    border-color: #0d6efd;
}
.card-white{
    background: #ffffff;
    border: 1px solid #ddd;
    margin: 0px;
    margin-bottom: 15px;
}
.modelSection{
    border-bottom: 2px solid #2473bf;
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}
.modelSection h3{
    font-weight: bold;
    cursor: pointer;
}
.modelTotals{
    float: right;
    width: 80px;
    text-align: right;
}
.modelControls{
    background: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.modelControls .btn{
    margin-right: 5px;
}
/* End Page Models */
/* Categories */
.reorderCategories h6{
    background: #2473bf;
    color: #ffffff;
    padding: 3px 10px;
    border-bottom: 2px solid #373b3e;
}
/* End Categories */

/*
** Media Queries
***********************************************************/
@media (max-width: 1000px) {
    .flex-grid {
        flex-direction: column;
    }
    .flex-grid > div {
        margin-right: 0;
    }
    .sidebar{
        width: 50px
    }
    .navbar-opened{
        display: none;
    }
    .navbar-closed{
        display: initial;
    }
}
