body{
    color: #000000;
    background: #F2F2F7;
    background-color: #F2F2F7;
}

body a{
    color: #000000;
    text-decoration: none;
}

.text-right{
    text-align: right;
}

.top-navbar{
    background-color: #212529;
    color: #ffffff;
    padding: 5px 0px;
}
.top-navbar a{
    color: #ffffff;
    text-decoration: none;
}

.page-title{
    padding: 20px 0px;
}

